@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================
   Base global del proyecto
   ========================= */
@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    @apply font-ui bg-white text-gray-900 antialiased;
  }
}

/* =========================
   Ajustes opcionales
   ========================= */

/* Mejora visual de textos */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
